<div id="signup">
  <div class="skilled_professional">
    <div class="content">
      <h1>Skilled professional finding short term work?</h1>
      <a href="https://employableasia.typeform.com/to/sUbpZy" class="page-scroll btn btn-xl" target="_blank">Find out how</a>
    </div>
  </div>

  <div class="companies">
    <div class="content">
      <h1>Seeking skilled professionals?</h1>
      <a href="https://employableasia.typeform.com/to/zRfwJ7" class="page-scroll btn btn-xl" target="_blank">Search now!</a>
    </div>
  </div>
</div>
